<li>
	{{burger_name}}

	<span class="buttonBlock">
	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}DEVOUR TIME!{{else}}Return!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	</span>
</li>
